<form ng-submit="search()">
  <div class="container">
    <div>
      <acme-navbar></acme-navbar>
    </div>

    <div class="row" ng-if="isPlaceBooking">
      <div class="col-md-12">
        <h4>Place Booking</h4>
        <form name="resForm" class="form-horizontal" novalidate
              ng-submit="send()">
          <div class="form-group">
            <label for="name" class="col-xs-2 control-label">Name</label>
            <div class="col-xs-10">
              <input  name="name" type="text" class="form-control"
                     ng-model="place.name" required id="name" />
            </div>
          </div>
          <div class="form-group">
            <label for="resLat" class="col-xs-2 control-label">Latitude</label>
            <div class="col-xs-10">
              <input name="resLat" type="number" class="form-control" id="resLat"
                     ng-model="place.lat" required />
            </div>
          </div>
          <div class="form-group">
            <label for="resLng" class="col-xs-2 control-label">Longitude</label>
            <div class="col-xs-10">
              <input name="resLng" type="number" class="form-control"
                     ng-model="place.lng" required id="resLng" />
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
              <button class="btn btn-success"
                      ng-disabled="resForm.$invalid">Confirm Booking</button>
              <button ng-click="showSearch()" class="btn btn-default">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <section ng-show="!isPlaceBooking">
      <div class="row">
        <div class="col-md-12">
          <div class="input-group">
            <input id="q" name="q" placeholder="Enter Search Text" type="text" class="text-input input-lg" ng-model="text"/>
            <a class="btn-default btn-lg" ng-click="search()" >Search</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div id="map" class="col-md-12">
        </div>
        <br/>
        <table ng-if="places" class="table table-bordered" ui:sortable ng:model="people">
          <thead>
          <tr>
            <th>Name</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr ng:repeat="d in places">
            <td>{{d.name}}</td>
            <td>{{d.lat}}</td>
            <td>{{d.lng}}</td>
            <td><a class="btn btn-primary" ng-click="placeBooking(d)">Book</a></td>
          </tr>
          </tbody>
        </table>
        <br/>
      </div>
    </section>
  </div>
</form>
