.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}

h3 img {
  max-height: 50px;
}
#map {
  height: 400px;
  margin: 20px 0;
  border-radius: 5px;
  border: 1px solid silver;
}
